#%RAML 0.8
title: Customer API
version: v1.0
baseUri: http://mythical-customer-api.cloudhub.io/api

schemas:
  - customer: !include schemas/customer_schema.json

traits: !include ./traits/trait-collection.yaml

/customer:
  displayName: Customers
  description: |
    Working with customers:
    * Retrieving all customers
    * Creating customers
  get:
    description: |
      Retrieve all the Customers.
    is: [ collection ]
    queryParameters:
      email:
        displayName: The account email address
        minLength: 0
        maxLength: 255
    responses:
      200:
        body:
          application/json:
            example: !include ./examples/customer_collection_example.json
  post:
    description: |
      Create a new Customer
    body:
      application/json:
        schema: customer
        example: !include ./examples/customer_post_request_example.json
    responses:
      201:
        description: Created
        body:
          application/json:
            example: !include ./examples/customer_post_response_example.json
  /{id}:
    displayName: Customer ID
    uriParameters:
      id:
        type: string
        example: 20a5ea46-a4ee-4542-93f4-9040a4ec078b
        description: Represents the customer unique id
    get:
      description: Get Customer by ID
      responses:
        200:
          body:
            application/json:
              schema: customer
              example: !include ./examples/customer_example.json
        400:
          body:
            application/json:
              example: |
                {
                  "message": "Bad message"
                }
        404:
          body:
            application/json:
              example: |
                {
                  "message": "Resource not found"
                }
    put:
      body:
        application/json:
          schema: customer
          example: !include ./examples/customer_example.json
      responses:
        204:
    delete:
      responses:
        204:
